@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Troy University</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Troy University</h2>
        <p>
            This is a sample application.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find more details about Troy university.</h2>
        <p>It is a wonderful place.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Photo Gallery</h2>
        <p>See more photos.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>